@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: 'Rubik', sans-serif;
    background: #f5f6f9;
    margin-top: 180px;
}

:root {
    --main-color: #fcb700;
    --dark-color: #222222;
    --parg-color: #666666;
    --dark-red: #d01418;
    --border-color: #6666662a;
    --name-item: #0066c0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--dark-color);
}

p {
    color: var(--parg-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 999;
}

.container {
    width: 75%;
    margin: auto;
}

@media (max-width: 1500px) {
    .container {
        width: 90%;
    }
}

header .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header .top-nav .logo img {
    width: 150px;
}

header .top-nav .search {
    width: 500px;
    border: 2px solid var(--main-color);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

header .top-nav .search input {
    padding: 18px 175px 18px 20px;
    outline: none;
    border: none;
    width: 100%;
}

header .top-nav .search button {
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    width: 170px;
    height: 100%;
    background-color: var(--main-color);
    color: var(--dark-color);
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease, color 0.3s ease;
}

header .top-nav .search button:hover {
    background-color: transparent;
    color: var(--main-color);
    border-left: 2px solid var(--border-color);
}

header .top-nav .card_header {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--dark-color);
    border: 1px solid var(--border-color);
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    position: relative;
    justify-content: center;

}

header .top-nav .card_header:hover {
    background: var(--main-color);
    color: #fff;
}

header .top-nav .card_header .count_items {
    position: absolute;
    background: var(--main-color);
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    top: -5px;
    right: 0;
    color: var(--dark-color);
    border: 1px solid var(--border-color);
}

header .top-nav .total_price p {
    margin-bottom: 8px;
    text-align: right;
}

header nav {
    border-top: 1px solid var(--border-color);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

header .links ul {
    list-style: none;
    display: flex;
    gap: 70px;
}

header .links ul li a {
    color: var(--dark-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    padding: 10px 0;
}

header .links ul li {
    position: relative;
}

header .links ul li::after {
    content: '';
    position: absolute;
    background: var(--main-color);
    width: 0%;
    bottom: 0;
    left: 0;
    height: 2px;
    transition: width 0.3s ease-in-out;
}

header .links ul li.active::after,
header .links ul li:hover::after {
    width: 100%;
}

.login_signup { /* Corrected class selector */
    display: flex;
    gap: 15px;
}

.login_signup a {
    color: var(--dark-color);
    padding: 10px 20px;
    background-color: var(--main-color);
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.login_signup a:hover {
    color: white;
}

/* Cart */
.cart {
    position: fixed;
    width: 400px;
    top: 0;
    right: -400px;
    bottom: 0;
    background: #fff;
    z-index: 1000;
    padding: 30px;
    border-left: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow */
    transition: 0.3s ease;
}

.cart.active{
    right: 0;
}
.cart .top_cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 15px;
}

.cart .close_cart i {
    font-size: 25px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.cart .close_cart i:hover {
    color: var(--dark-red);
}

.cart .top_cart h3 {
    font-size: 20px;
    color: var(--dark-color);
}

.cart .top_cart h3 span {
    font-size: 14px;
    color: var(--parg-color);
    font-weight: normal;
}

.cart .items_in_cart {
    padding: 20px 0;
    flex-grow: 1; /* Allows this section to expand and fill available space */
    overflow-y: auto; /* Enables scrolling if content overflows */
}

.cart .item_cart {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 15px;
}

.cart .item_cart:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}

.cart .item_cart img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.cart .item_cart .content {
    flex-grow: 1;
}

.cart .item_cart h4 {
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--dark-color);
}

.cart .item_cart .price_cart {
    color: var(--main-color);
    font-weight: bold;
}

.cart .delete_item {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--dark-red);
    transition: color 0.3s ease;
}

.cart .delete_item:hover {
    color: var(--main-color);
}

.cart .bottom_cart {
    border-top: 1px solid var(--border-color);
    padding-top: 20px;
}

.cart .bottom_cart .total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600;
}

.cart .bottom_cart .price_cart_total {
    color: var(--main-color);
}

.cart .button_cart {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart .button_cart .btn_cart {
    border: 2px solid var(--main-color);
    border-radius: 5px;
    color: var(--dark-color);
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    background: var(--main-color);
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.cart .button_cart .btn_cart:hover {
    background: transparent;
    color: var(--main-color);
}

.cart .button_cart .trans_bg {
    background: transparent;
    border-color: var(--dark-color);
    color: var(--dark-color);
}

.cart .button_cart .trans_bg:hover {
    background: var(--main-color);
    color: #fff;
    border: var(--main-color);
}

/* End Cart  */

/* Start Slider Section */




.slider .container .side_bar{
width: 30%;
background: white;
display: flex;
flex-direction: column;
}


.slider .container .side_bar h2 {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 15px;
}

.slider .container .side_bar a {
    padding:  15px;
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-color);
    border-top: 1px solid var(--border-color) ;
    transition: 0.3s ease-in-out;
}

.slider .container .side_bar a:hover{
    color: var(--main-color);
}

.slider .container {
    display: flex;
    justify-content: space-between;
    }

.slider .container .slide-swp{
    width: 67%;
    overflow: hidden;
    position: relative;
}
.slider .container .slide-swp img{
width: 100%;
height: 100%;
object-fit: cover;
object-position: left top;
}
.slider .container .slide-swp .swiper-pagination span {
    background: #fff;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background: var(--main-color) !important;
    width: 25px !important ;
    height: 9px !important;
    border-radius: 30px !important;
}


/* End Slider Section */

/* Start Features */
.features{
    margin: 50px 0;
}

.features .container{
    display: flex;
    background-color: white;
    padding: 15px 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 5px;
}

.features .container .feature_item{
    width: 18%;
    min-width: 220px;
    display: flex;
    align-items: center;
    gap: 20px;
}



.features .container .feature_item img{
    width: 50px;
}


.features .container .feature_item h4{
    margin-bottom: 8px;
    font-size: 15px;
}


.features .container .feature_item p{
    font-size: 12px;
}


/* End Features */
